{% extends 'erp/base/base.html' %}
{% block title %}永兰WMS系统 | 登录{% endblock %}
{% load render_bundle from webpack_loader %}


  {% block headers %}
  <style>
    .login-page{height: 80%;}
    /*body{background-color: #d2d6de;}*/
  </style>
  {% endblock %}
{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/erp">永兰科技 - WMS系统</a>
  </div>
  <!-- /.login-logo -->
    <div id="root">
    </di>

  </div>
  <!-- /.login-box-body -->
</div>
</body>
{% endblock %}

{% block scripts %}
{% render_bundle 'login' %}
{% endblock %}
