{% extends 'erp/base/base.html' %}
{% block title %}永兰WMS系统 | 登录{% endblock %}

  {% block headers %}
  <style>
    .login-page{height: 80%;}
    /*body{background-color: #d2d6de;}*/
  </style>
  {% endblock %}
{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/erp">永兰科技 - WMS系统</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"></p>

    <form action="/erp/login/" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <!--<input type="email" name="email" class="form-control" placeholder="Email">-->
        <input type="text" name="username" class="form-control" placeholder="用户名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> 记住我
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form><br>
    <p>
      <a href="#">忘记密码?</a><br>
      <a href="/erp/register" class="text-center">注册>></a>
    </p>

  </div>
  <!-- /.login-box-body -->
</div>
</body>
{% endblock %}

{% block scripts %}{% endblock %}
